html {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 360px;
  min-height: 100vh;
  position: relative;
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div, span, header, footer, section {
  margin: 0;
  padding: 0;
  border: 0;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}




/* CHECK THIS */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  
  
button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}