// ======== Colors =========
$mainColor1: #f6f6f6;
$mainColor2: #549aab;
$mainColor3: #123740;
$mainColor4: #b0d7e1;
$mainColor5: #f1802d;
$colorNegative: #f00;

// ======== Fonts ========
@font-face {
    font-family: "VT323";
    src: url('./../assets/fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Azbuki";
    src: url('./../assets/fonts/Azbuki-Regular.woff') format('woff'),
         url('./../assets/fonts/Azbuki-Regular.woff2') format('woff2');
}

$mainFont1: "VT323";
$mainFont2: "Azbuki";


$screenWidth1: 1280px;
$screenWidth2: 860px;
$screenWidth3: 740px;
$screenWidth4: 510px;
$screenMinimum: 360px;