.pi-water {
    background-image: url("./src/assets/images/water.png");
}

.pi-orange-juice {
    background-image: url("./src/assets/images/orange-juice.png");
}

.pi-coca-cola {
    background-image: url("./src/assets/images/coca-cola.png");
}

.pi-energy-drink {
    background-image: url("./src/assets/images/energy-drink.png");
}

.pi-chips {
    background-image: url("./src/assets/images/chips.png");
}

.pi-sticks {
    background-image: url("./src/assets/images/sticks.png");
}

.pi-snacks {
    background-image: url("./src/assets/images/snacks.png");
}

.pi-popcorn {
    background-image: url("./src/assets/images/popcorn.png");
}

.pi-muffin {
    background-image: url("./src/assets/images/muffin.png");
}

.pi-chocolate {
    background-image: url("./src/assets/images/chocolate.png");
}

.pi-waffle {
    background-image: url("./src/assets/images/waffle.png");
}

.pi-biscuits {
    background-image: url("./src/assets/images/biscuits.png");
}

.out-of-stock {
    background-image: url("./src/assets/images/out-of-stock.png");
}