.terminal-display {
    width: 233px;
    height: 89px;
    margin: 21px auto;
    border-radius: 13px;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    font-family: $mainFont1;

    .text {
        padding: 21px 13px;
        text-align: center;
        font-size: 21px;
    }

    .error {
        color: $colorNegative;
    }
}

.cash-acceptor {
    .cash-elem {
        width: 204px;
    }

    .cash-form {
        height: 34px;
        margin: 21px auto 5px;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        box-sizing: border-box;
    }

    .money-input {
        flex-grow: 2;
        box-sizing: border-box;
        background-color: transparent;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .money-enter {
        width: 34px;
        background-color: $mainColor3;
        color: #fff;
    }

    .cash-error {
        margin: 0 auto;

        p {
            color: $colorNegative;
        }
    }

    .cash-return {
        display: block;
        margin: 21px auto;

        button {
            width: 100%;
            padding: 8px 0;
            background-color: $mainColor3;
            color: #fff;
        }
    }

    .change-popup {
        position: absolute;
        margin-top: 13px;
        padding: 13px;
        border-radius: 13px;
        background-color: #fff;

        &:before {
            content:"\A";
            border-style: solid;
            border-width: 0 8px 13px 8px;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            left: 13px;
            top: -13px;
        }

        .change-text {
            white-space: pre;
        }
    }
}

@media screen and (max-width: $screenWidth3) {
    .terminal-display {
        width: 80%;
        height: 144px;

        .text {
            padding: 13px;

            p {
                margin-bottom: 8px;
            }
        }
    }

    .cash-acceptor {
        .cash-elem {
            width: 80%;
        }

        .money-input {
            width: 80%;
            padding: 0 5px;
        }
    }
}